{#
/**
 * @file bookmarks.html.twig
 * Default theme implementation to present Bookmarks data.
 *
 * This template is used when viewing Bookmarks pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_bookmark()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('bookmarks') }}>
  {% if bookmarks %}
    <ul>
      {% for bookmark in bookmarks %}
        <li>{{ bookmark.id() }} - {{ bookmark.label() }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
